body {
  display: flex;
  justify-content: center;
  flex: '0 0 100%';
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height : 10vh;
  width : 100vmin;
  font-size: 3rem;
}

.new-mukkit {
  text-align: center;
  padding: 2vh;
}

.new-input {
  width: 80vmin !important;
  height: 7vmin !important;
  margin: 1vh !important;
  border: none !important;
  border-bottom: 1px solid gray !important;
}

.btn-group {
  display: flex;
}

.mukkit-item-input {
  width: 50vmin !important;
  height: 11vmin !important; 
  margin: 1vh !important;
  border: none !important;
  border-bottom: 1px solid gray !important;
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.85) !important;
}